.page1 {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightgreen;
}
.p1 {
  font-family: "Times New Roman";
  color: skyblue;
}
.p2 {
  font-family: "Cursive";
  color: pink;
}

.page2 {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: blue;
}
.menubar {
  font-family: "Times New Roman";
  color: yellow;
  display: flex;
  justify-content: center;
  align-items: center;
}
.img {
  width: 200px;
  height: 150px;
  margin: auto;
  font-family: "Arial";
}
